@model NostalgiPizza.Models.LogInViewModel

<form asp-controller="Home" asp-action="LogIn" method="post" class="login-form">
    <input asp-for="Email" placeholder="username"/>
    <input asp-for="Password" placeholder="password"/>
    <button type="submit">login</button>
    <p class="message">Not registered? <a href="#">Create an account</a>
    </p>
</form>