@model NostalgiPizza.Models.CreateViewModel

@{
    Layout = "_EditLayout";
}

<div class="edit-page">
    <div class="form">
        <form asp-action="Create" method="post">
            <input asp-for="@Model.NewName" placeholder="name" />
            <button type="submit">create</button>
        </form>
    </div>
</div>
