@model NostalgiPizza.Models.EditViewModel

@{
    Layout = "_EditLayout";
}

<div class="edit-page">
    <div class="form">
        <form asp-action="Edit" method="post">
            <input asp-for="@Model.Ingredient.Name" placeholder="name" />
            <input type="hidden" asp-for="@Model.Ingredient.IngredientId" />
            <button type="submit">save</button>
        </form>
    </div>
</div>
