
<section class="content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="">Let's Get In Touch!</h2>
                <hr class="">
                <p class="">Sed tristique quis sem non facilisis. Integer sed nisi et nibh finibus finibus et nec nunc. Nunc auctor posuere nisl a iaculis. Fusce sagittis elit eu elit pharetra luctus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4 text-center">
                <i class="fa fa-phone fa-3x"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-envelope-o fa-3x"></i>
                <p class="text-faded">
                    info@nostalgipizza.com
                </p>
            </div>
        </div>
</section>
