@using System.Linq
@model NostalgiPizza.Models.StartViewModel

<section class="content-header">
    <h1>
        Menu
        <small>Categories</small>
    </h1>
</section>

<section class="content">
    @foreach (var c in Model.Categories)
    {
        <h2 class="page-header">@c.Name</h2>
        <div class="row">
                @foreach (var d in c.Dishes)
                {
                    <div class="col-md-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>@d.Name</h3>
                                <p>
                                    @{
                                        var ingredientsList = d.DishIngredients.Select(di => di.Ingredient.Name).ToList();
                                        var result = string.Join(", ", ingredientsList.Take(ingredientsList.Count - 1)) + (ingredientsList.Count <= 1 ? "" : " & ") + ingredientsList.LastOrDefault();
                                    }
                                    @result
                                </p>
                            </div>
                            <a class="small-box-footer" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@d.Id" data-target="#modifyDishModal" data-toggle="modal">
                                @d.Price kr <i class="fa fa-shopping-basket"></i>
                            </a>
                        </div>
                    </div>
                }
        </div>
    }
    <!-- Modal -->
    <div class="modal fade" id="modifyDishModal" tabindex="-1" role="dialog" aria-labelledby="modifyDishModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</section>

