@model NostalgiPizza.Models.LoginOrRegisterViewModel
@{
    Layout = "_LoginLayout";
}

    <div class="login-page">
        <div class="form">
            @Html.Partial("_Register", Model.RegisterViewModel)
            @Html.Partial("_LogIn", Model.LogInViewModel)
        </div>
    </div>

@section script{ 
<script>
    $(document).ready(function () {
        $('.message a').click(function () {
            $('form').animate({ height: "toggle", opacity: "toggle" });
        });
    });

</script>

}
